---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Cotizaciones sonymat</h1>
	<main>
		<form action="" id="cotizationData">
			<p>Ingrese los datos</p>
			<div class="form-inputData">
				<label for="nCotization">
					# de cotización
					<input type="number" id="nCotization" name="nCotization" />
				</label>
				<label for="nameCompany">
					Nombre de la empresa
					<input type="text" id="nameCompany" name="nameCompany" />
				</label>
				<label for="rucCompany">
					RUC de la empresa
					<input type="text" id="rucCompany" name="rucCompany" />
				</label>
				<label for="dateCotization">
					Fecha de cotización
					<input type="date" id="dateCotization" name="dateCotization" />
				</label>
				<label for="dateValidCotization">
					Cotización válida hasta
					<input
						type="date"
						id="dateValidCotization"
						name="dateValidCotization"
					/>
				</label>
				<label for="nameClient">
					Nombre del cliente
					<input type="text" id="nameClient" name="nameClient" />
				</label>
				<label for="rucClient">
					RUC del cliente
					<input type="text" id="rucClient" name="rucClient" />
				</label>
				<label for="itemDescription1">
					Descripción del item #1
					<input type="text" id="itemDescription1" name="itemDescription1" />
				</label>
				<label for="itemAmount1">
					Cantidad del item #1
					<input type="number" id="itemAmount1" name="itemAmount1" />
				</label>
				<label for="itemPrice1">
					Precio del item #1
					<input type="number" id="itemPrice1" name="itemPrice1" />
				</label>
				<label for="itemDescription2">
					Descripción del item #2
					<input type="text" id="itemDescription2" name="itemDescription2" />
				</label>
				<label for="itemAmount2">
					Cantidad del item #2
					<input type="number" id="itemAmount2" name="itemAmount2" />
				</label>
				<label for="itemPrice2">
					Precio del item #2
					<input type="number" id="itemPrice2" name="itemPrice2" />
				</label>
				<label for="itemDescription3">
					Descripción del item #3
					<input type="text" id="itemDescription3" name="itemDescription3" />
				</label>
				<label for="itemAmount3">
					Cantidad del item #3
					<input type="number" id="itemAmount3" name="itemAmount3" />
				</label>
				<label for="itemPrice3">
					Precio del item #3
					<input type="number" id="itemPrice3" name="itemPrice3" />
				</label>
				<label for="itemDescription4">
					Descripción del item #4
					<input type="text" id="itemDescription4" name="itemDescription4" />
				</label>
				<label for="itemAmount4">
					Cantidad del item #4
					<input type="number" id="itemAmount4" name="itemAmount4" />
				</label>
				<label for="itemPrice4">
					Precio del item #4
					<input type="number" id="itemPrice4" name="itemPrice4" />
				</label>
				<label for="itemDescription5">
					Descripción del item #5
					<input type="text" id="itemDescription5" name="itemDescription5" />
				</label>
				<label for="itemAmount5">
					Cantidad del item #5
					<input type="number" id="itemAmount5" name="itemAmount5" />
				</label>
				<label for="itemPrice5">
					Precio del item #5
					<input type="number" id="itemPrice5" name="itemPrice5" />
				</label>
				<label for="subtotal">
					Subtotal
					<input type="number" id="subtotal" name="subtotal" />
				</label>
				<label for="igv">
					IGV
					<input type="number" id="igv" name="igv" />
				</label>
				<label for="total">
					Total
					<input type="number" id="total" name="total" />
				</label>
			</div>
			<button type="submit"> Actualizar cotización </button>
		</form>
	</main>

	<h2>Mira tu cotización</h2>
	<embed id="pdfViewer" src="" title="Cotizacion base" type="application/pdf" />

	<button id="downloadCotization">Descarga la cotización</button>
</Layout>

<script>
	import { jsPDF } from 'jspdf';

	const doc = new jsPDF();

	// Empezamos creando el pdf
	doc.setFontSize(32);
	doc.text('Cotización #', 10, 20);
	doc.setFontSize(20);
	doc.text('Sonymat', 10, 30);
	doc.text('RUC: 123456789', 10, 40);
	doc.text('Fecha: 2021-09-01', 200, 30, { align: 'right' });
	doc.text('Válido hasta: 2021-09-30', 200, 40, { align: 'right' });
	doc.text('Cliente: Cliente de prueba', 200, 50, { align: 'right' });
	doc.text('RUC: 123456789', 200, 60, { align: 'right' });
	doc.table(
		10,
		80,
		[
			{ n: '5', d: 'Productos', p: '10 S/.' },
			{ n: '5', d: 'Productos', p: '10 S/.' },
			{ n: '5', d: 'Productos', p: '10 S/.' },
		],
		['n', 'd', 'p'],
		{ autoSize: true },
	);
	doc.setFontSize(20);
	doc.text('Subtotal: 25 S/.', 200, 220, { align: 'right' });
	doc.text('IGV: 5 S/.', 200, 210, { align: 'right' });
	doc.text('Total: 30 S/.', 200, 200, { align: 'right' });

	const pdfLocalSrc = doc.output('bloburl');

	const formCotization = document.getElementById('cotizationData');
	const pdfViewer = document.getElementById('pdfViewer') as HTMLEmbedElement;
	const downloadCotization = document.getElementById('downloadCotization');

	pdfViewer.src = String(pdfLocalSrc);

	formCotization?.addEventListener('submit', (e) => {
		e.preventDefault();
		const formData = Object.fromEntries(
			new FormData(e.target as HTMLFormElement),
		);
		console.log('Actualizando cotización', formData);
		if (pdfViewer !== null) {
			console.log('Actualizando pdf');

			const newDoc = new jsPDF();
			newDoc.setFontSize(32);
			newDoc.text(`Cotización # ${formData.nCotization as string}`, 10, 20);
			newDoc.setFontSize(20);
			newDoc.text(`${formData.nameCompany}`, 10, 30);
			newDoc.text(`RUC: ${formData.rucCompany}`, 10, 40);
			newDoc.text(`Fecha: ${formData.dateCotization}`, 200, 30, {
				align: 'right',
			});
			newDoc.text(`Válido hasta: ${formData.dateValidCotization}`, 200, 40, {
				align: 'right',
			});
			newDoc.text(`Cliente: ${formData.nameClient}`, 200, 50, {
				align: 'right',
			});
			newDoc.text(`RUC: ${formData.rucClient}`, 200, 60, { align: 'right' });
			const tableData = [
				{
					Descripción:
						formData.itemDescription1 !== ''
							? (formData.itemDescription1 as string)
							: ' ',
					Cantidad:
						formData.itemAmount1 !== ''
							? (formData.itemAmount1 as string)
							: ' ',
					Precio: `${formData.itemPrice1} S/.`,
				},
				{
					Descripción:
						formData.itemDescription2 !== ''
							? (formData.itemDescription2 as string)
							: ' ',
					Cantidad:
						formData.itemAmount2 !== ''
							? (formData.itemAmount2 as string)
							: ' ',
					Precio: `${formData.itemPrice2} S/.`,
				},
				{
					Descripción:
						formData.itemDescription3 !== ''
							? (formData.itemDescription3 as string)
							: ' ',
					Cantidad:
						formData.itemAmount3 !== ''
							? (formData.itemAmount3 as string)
							: ' ',
					Precio: `${formData.itemPrice3} S/.`,
				},
				{
					Descripción:
						formData.itemDescription4 !== ''
							? (formData.itemDescription4 as string)
							: ' ',
					Cantidad:
						formData.itemAmount4 !== ''
							? (formData.itemAmount4 as string)
							: ' ',
					Precio: `${formData.itemPrice4} S/.`,
				},
				{
					Descripción:
						formData.itemDescription5 !== ''
							? (formData.itemDescription5 as string)
							: ' ',
					Cantidad:
						formData.itemAmount5 !== ''
							? (formData.itemAmount5 as string)
							: ' ',
					Precio: `${formData.itemPrice5} S/.`,
				},
			];
			newDoc.table(10, 80, tableData, ['Descripción', 'Cantidad', 'Precio'], {
				autoSize: true,
			});
			newDoc.setFontSize(20);
			newDoc.text(`Subtotal: ${formData.subtotal} S/.`, 200, 200, {
				align: 'right',
			});
			newDoc.text(`IGV: ${formData.igv} S/.`, 200, 210, {
				align: 'right',
			});
			newDoc.text(`Total: ${formData.total} S/.`, 200, 220, {
				align: 'right',
			});

			const newpdfLocalSrc = newDoc.output('bloburl');
			pdfViewer.title = `Cotización#${formData.nCotization as string}`;
			pdfViewer.src = String(newpdfLocalSrc);
		}
	});

	downloadCotization?.addEventListener('click', () => {
		const formData = Object.fromEntries(
			new FormData(formCotization as HTMLFormElement),
		);
		console.log('Descargando cotización ', formData.nCotization);
		doc.save(`cotizacion#${formData.nCotization}.pdf`);
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		color: #fafafa;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		color: #fafafa;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.form-inputData {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	form > button {
		display: block;
		font-size: 1.25rem;
		cursor: pointer;
		margin: 16px auto;
	}

	embed {
		width: 80%;
		height: 640px;
		display: block;
		margin: 0 auto;
		padding-bottom: 32px;
	}

	#downloadCotization {
		background-color: aquamarine;
		font-size: larger;
		display: block;
		margin: 32px auto;
		padding: 16px;
		color: black;
		font-weight: 700;
	}
</style>
